@import url("https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C700%2C400%2C600&ver=5.9.3");

/* After Mint
  The positioning defined in App.css is absolute for all of these buttons
  Since App.css is the parent. 
  Should be able to control position using px
*/

/*
Making a parent for all of the other objects to be absolute to
*/
.parent {
  width:400px;
  height:400px;
  background-color:#242222;
  border:2px solid #242222;
  position:relative;
}

/* this image goes first in*/
.nft-display img {
  width: 250px;
  padding: 10px;
  margin: auto;
  float: left;
  position: absolute;
  /* write a function for this???*/
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
}

/*title*/
.nft-display p {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  width: 200px;
  position: absolute;
  top: 25%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.opensea {
  color: white;
  line-height: 1;
  padding: 10px !important;
}

/* Properties of the link */
.opensea a {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  width: 375px;
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.opensea p {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  width: 375px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
.share-prompt p {
  width: 350px;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
}
*/

.shareUrl { 
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shareUrl input {
  height: 30px;
  width: 350px;
  margin: auto;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  outline: none !important;
}

.shareUrl input:hover {
  opacity: 0.8;
}

.shareUrlSuccess { 
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shareUrlSuccess input {
  height: 30px;
  width: 350px;
  margin: auto;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  outline: none !important;
}

.position-media { 
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shareButton {
  cursor: pointer;
  margin: 5px;
  position: relative;
}

.shareButton:hover:not(:active) {
  opacity: 0.75;
}

.greenText {
  line-height: 1.5 !important;
  color: aquamarine !important;
  margin-top: 0px !important;
}