@import url("https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C700%2C400%2C600&ver=5.9.3");

/* Document */

.App {
  text-align: center;
  font-family: "Poppins";
  margin: auto;
  position: relative;
  height: 580px;
  color: white
}

.nft-display-app img {
  width: 100px;
  padding: 10px;
  margin: auto;
  float: left;
  width: 50%;
  padding: 5px;
}


.share-prompt {
  text-align: center;
  color: white;
}

.react-container {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -35%);
  transform: translate(-50%, -35%);
  background-color: #242222;

}

.title p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  width: 400px;
}


/* Button */


.btn-react {
  border-radius: 10px;
  display: block;
  background: linear-gradient(91.56deg, #fe60c8, #eb9440, #fe60c8);
  background-size: 200% auto;
  background-position: left center;
  color: white;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  width: 150px !important;
  height: 55px;
  border: none;
  background-color: gray;
  margin: auto;
  margin-top: 25px;
  transition: all 0.2s ease;
}



.btn-react:focus {
  color: white;
}

.btn-react:hover {
  background-position: right center;
  color: white;
}

.btn-react-grey button {
  color: rgb(200, 200, 200);
  font-size: 14px;
  font-weight: 600;
  width: 200px;
  text-align: center;
  border-color: #333333;
  border-radius: 5px;
  border-width: 0px;
  background: #333333;
  height: 40px;
}

.btn-react-grey:visited button {
  color: rgb(200, 200, 200);
  background: #333333;
}

.btn-react-greybtn-react-grey button:focus {
  color: rgb(200, 200, 200);
  background: #333333;
}

.btn-react-grey button:active {
  color: rgb(200, 200, 200);
  background: #333333;
}

.btn-react-grey button:hover {
  color: rgb(200, 200, 200);
  background: #444444;
}

/* Message */

.App a {
  font-size: 16px;
}

.error p {
  color: red;
  font-size: 16px;
  width: 400px;
  margin: auto;
}

.msg {
  color: rgb(255, 255, 255);
  font-size: 16px;
  width: 400px;
  margin: auto;
}